
@media (min-width: 768px) {  
  #contenedor {
      max-width: 600px;
  }
}  

@media (min-width: 576px) and (max-width: 767px) {  
  #contenedor {
      max-width: 260px;
  }
}

@media (max-width: 575px) {  
  #contenedor {
      max-width: 140px;
  }
}  

.bg-greenyellow {
    background-color: greenyellow;
}

.bg-red {
    background-color: red;
}

.bg-hotpink {
    background-color: hotpink;
}

.bg-blue {
    background-color: blue;
}